:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --secondary-text-color-theme-light: #757575;
  --accent-color: #2196f3;
  --accent-focus-color: #188ce8;
  --dark-background-color: #2f303a;
  --default-icon-color: #afb1b8;
  --transition-dur-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color-theme-light);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo_accent-text {
  color: var(--accent-color);
}

.logo_theme_light {
  margin-right: 93px;
}
.logo_theme_light,
.logo_theme_light:visited,
.logo_theme_light:active {
  color: #000000;
}

.logo_theme_dark,
.logo_theme_dark:visited,
.logo_theme_dark:active {
  color: var(--primary-text-color-theme-dark);
}

.contact-phone,
.contact-email {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.contact-phone_theme_light,
.contact-email_theme_light {
  color: var(--secondary-text-color-theme-light);
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-fun), fill var(--transition-dur-and-fun);
}
.contact-phone_theme_light:hover,
.contact-phone_theme_light:focus,
.contact-email_theme_light:hover,
.contact-email_theme_light:focus {
  color: var(--accent-color);
}

.contact-email__icon,
.contact-phone__icon {
  display: block;
  margin-right: 10px;
}
.contact-phone_theme_light .contact-email__icon,
.contact-email_theme_light .contact-email__icon,
.contact-phone_theme_light .contact-phone__icon,
.contact-email_theme_light .contact-phone__icon {
  fill: var(--secondary-text-color-theme-light);
}
.contact-phone_theme_light:hover .contact-email__icon,
.contact-phone_theme_light:focus .contact-email__icon,
.contact-email_theme_light:hover .contact-email__icon,
.contact-email_theme_light:focus .contact-email__icon,
.contact-phone_theme_light:hover .contact-phone__icon,
.contact-phone_theme_light:focus .contact-phone__icon,
.contact-email_theme_light:hover .contact-phone__icon,
.contact-email_theme_light:focus .contact-phone__icon {
  fill: var(--accent-color);
}

.contact-phone_theme_dark,
.contact-email_theme_dark {
  color: var(--secondary-text-color-theme-dark);
  transition: color var(--transition-dur-and-fun);
}
.contact-phone_theme_dark:hover,
.contact-phone_theme_dark:focus,
.contact-email_theme_dark:hover,
.contact-email_theme_dark:focus {
  color: var(--primary-text-color-theme-dark);
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-list__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--default-icon-color);
  transition: background-color var(--transition-dur-and-fun), fill var(--transition-dur-and-fun);
}
.social-list__item-link:focus,
.social-list__item-link:hover {
  background-color: var(--accent-color);
  fill: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-fun), visibility var(--transition-dur-and-fun);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  width: 528px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-window__close-button {
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--transition-dur-and-fun);
}
.modal-window__close-button:hover,
.modal-window__close-button:focus {
  border-color: var(--accent-color);
}

.modal-window__close-button-icon {
  transition: fill var(--transition-dur-and-fun);
}
.modal-window__close-button:hover .modal-window__close-button-icon,
.modal-window__close-button:focus .modal-window__close-button-icon {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__field:last-child {
  margin-bottom: 20px;
}

.modal-form__input-description {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 4px;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color var(--transition-dur-and-fun);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color-theme-light);
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-fun);
}
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}

.modal-form__message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-fun);
}
.modal-form__message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__policy-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__check-policy-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal-form__check-policy-description::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--dark-background-color);
  border-radius: 2px;
  transition: border-color var(--transition-dur-and-fun),
    background-color var(--transition-dur-and-fun);
  margin-right: 8px;
}
.modal-form__check-policy:checked + .modal-form__check-policy-description::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/other-svg/icon-check.svg);
  background-position: center;
  background-size: 16px 15px;
}
.modal-form__check-policy:focus + .modal-form__check-policy-description::before {
  outline: 1px solid var(--accent-color);
}

.modal-form__submit {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 56px;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal-form__submit:focus,
.modal-form__submit:hover {
  background-color: var(--accent-focus-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-fun);
}
.menu__link,
.menu__link:visited {
  color: var(--primary-text-color-theme-light);
}
.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: var(--accent-color);
}
.menu__link.current {
  color: var(--accent-color);
}
.menu__link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.page-header__contacts-list {
  display: flex;
  margin-left: auto;
}

.page-header__contacts-item:not(:last-child) {
  margin-right: 30px;
}

.hero {
  background-color: var(--dark-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  color: var(--primary-text-color-theme-dark);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 670px;
  margin: 0 auto;
}

.order-button {
  font-family: inherit;
  color: var(--primary-text-color-theme-dark);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  display: block;
  padding: 10px 32px;
  transition: background-color var(--transition-dur-and-fun);
}
.order-button:hover,
.order-button:focus {
  background-color: var(--accent-focus-color);
}

.hero__order-button {
  margin: 30px auto 0 auto;
}

.benefits {
  padding-bottom: 47px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefits__item-icon-container {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__item-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__item-description {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.about-us {
  padding-top: 47px;
}

.about-us__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.about-us__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-us__item {
  flex-basis: calc((100% - 60px) / 3);
}

.about-us__item-image-wrapper {
  position: relative;
  overflow: hidden;
}

.about-us__item-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
}

.employee-card {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.employee-card__content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-card__image {
  border-radius: 4px 4px 0 0;
}

.employee-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.employee-card__description {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.employee-card__social-list {
  justify-content: center;
  margin: 16px auto 0;
}

.clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__item-link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  border: 1px solid var(--default-icon-color);
  fill: var(--default-icon-color);
  transition: border-color var(--transition-dur-and-fun), fill var(--transition-dur-and-fun);
}
.clients__item-link:focus,
.clients__item-link:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients__item-icon {
  display: block;
  margin: 0 auto;
}

.page-footer {
  background: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__main {
  margin-right: 70px;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--primary-text-color-theme-dark);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition-dur-and-fun);
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.footer__subblock-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.footer__social {
  margin-right: 93px;
}

.footer__social-list {
  margin-top: 20px;
}

.footer__social-item-link {
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscription {
  flex-grow: 1;
}

.subscription-form {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.subscription-form__input-wrapper {
  position: relative;
  width: 100%;
}

.subscription-form__input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  height: 50px;
  outline: none;
  padding: 15px;
  color: var(--primary-text-color-theme-dark);
  transition: border-color var(--transition-dur-and-fun);
}
.subscription-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.subscription-form__input:focus {
  border-color: var(--accent-color);
}

.subscription-form__submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
  transition: background-color var(--transition-dur-and-fun);
  display: flex;
  gap: 10px;
  align-items: center;
}
.subscription-form__submit:focus,
.subscription-form__submit:hover {
  background-color: var(--accent-focus-color);
}

.subscription-form__submit-icon {
  fill: var(--primary-text-color-theme-dark);
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filters__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filters__button {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color var(--transition-dur-and-fun), color var(--transition-dur-and-fun),
    box-shadow var(--transition-dur-and-fun);
}
.portfolio-filters__button_active,
.portfolio-filters__button:hover,
.portfolio-filters__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-card__link {
  display: block;
  transition: box-shadow var(--transition-dur-and-fun);
}
.portfolio-card__link:focus,
.portfolio-card__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-fun);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  padding: 24px;
  background: rgba(33, 150, 243, 0.9);
}
.portfolio-card__link:focus .portfolio-card__overlay,
.portfolio-card__link:hover .portfolio-card__overlay {
  transform: translate(0, 0);
}

.portfolio-card__content-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-card__title,
.portfolio-card__title:active,
.portfolio-card__title:visited {
  color: var(--primary-text-color-theme-light);
}

.portfolio-card__description {
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio-card__description,
.portfolio-card__description:active,
.portfolio-card__description:visited {
  color: var(--secondary-text-color-theme-light);
} /*# sourceMappingURL=main.css.map */
