@import './utils/variables';
@import './utils/vissually-hiden';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/logo';
@import './components/contacts';
@import './components/social-list';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';

@import './layout/header';
@import './layout/hero';
@import './layout/benefits';
@import './layout/about-us';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
