.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__logo {
  &,
  &:visited,
  &:active {
    color: #000000;
  }
}

@include media-to-mobile-resolution {
  .page-header__container {
    padding: 10px;
  }
}

@include media-to-tablet-resolution {
  .page-header__nav {
    display: none;
  }

  .page-header__contacts-list {
    display: none;
  }

  .mobile-menu-button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-header__container {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@include media-in-tablet-resolution {
  .page-header__contacts-email {
    padding-top: 21px;
    padding-bottom: 5px;
  }

  .page-header__contacts-phone {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

@include media-from-tablet-resolution {
  .mobile-menu-button {
    display: none;
  }

  .page-header__logo {
    margin-right: 87px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .page-header__contacts-list {
    margin-left: auto;
  }

  .menu__link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-dur-and-fun);

    &,
    &:visited {
      color: var(--primary-text-color-theme-light);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
    }

    &.current {
      color: var(--accent-color);

      &::after {
        @include pseudo;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
      }
    }
  }

  .page-header__contacts-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);

    display: flex;
    align-items: center;
    transition: color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .page-header__contacts-icon {
    display: block;
    margin-right: 10px;
    fill: var(--secondary-text-color-theme-light);
    transition: fill var(--transition-dur-and-fun);

    .page-header__contacts-link:hover &,
    .page-header__contacts-link:focus & {
      fill: var(--accent-color);
    }
  }
}

@include media-to-desktop-resolution {
  .page-header__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

@include media-from-desktop-resolution {
  .page-header__logo {
    margin-right: 93px;
  }

  .page-header__contacts-list {
    display: flex;
  }

  .page-header__contacts-item:not(:last-child) {
    margin-right: 30px;
  }

  .page-header__contacts-link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
