.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filters__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filters__button {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color var(--transition-dur-and-fun), color var(--transition-dur-and-fun),
    box-shadow var(--transition-dur-and-fun);

  &:hover,
  &:focus {
    @extend .portfolio-filters__button_active;
  }
}

.portfolio-filters__button_active {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-card__link {
  display: block;
  transition: box-shadow var(--transition-dur-and-fun);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-fun);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  padding: 24px;
  background: rgba(33, 150, 243, 0.9);

  .portfolio-card__link:focus &,
  .portfolio-card__link:hover & {
    transform: translate(0, 0);
  }
}

.portfolio-card__content-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  &,
  &:active,
  &:visited {
    color: var(--primary-text-color-theme-light);
  }
}

.portfolio-card__description {
  line-height: 1.88;
  letter-spacing: 0.03em;

  &,
  &:active,
  &:visited {
    color: var(--secondary-text-color-theme-light);
  }
}
