.team {
  background: #f5f4fa;
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
}

.employee-card {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.employee-card__content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-card__image {
  border-radius: 4px 4px 0 0;
}

.employee-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.employee-card__description {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.employee-card__social-list {
  justify-content: center;
  margin-top: 16px;
  @extend centering-x;
}
