.contact-phone,
.contact-email {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.contact-phone_theme_dark,
.contact-email_theme_dark {
  color: var(--secondary-text-color-theme-dark);
  transition: color var(--transition-dur-and-fun);

  &:hover,
  &:focus {
    color: var(--primary-text-color-theme-dark);
  }
}
