.modal-window {
  width: 528px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-window__close-button {
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--transition-dur-and-fun);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-window__close-button-icon {
  transition: fill var(--transition-dur-and-fun);

  .modal-window__close-button:hover &,
  .modal-window__close-button:focus & {
    fill: var(--accent-color);
  }
}
